/dts-v1/;
#include <st/f4/stm32f4.dtsi>
#include <st/f4/stm32f429i(e-g)tx-pinctrl.dtsi>
#include <mem.h>

/ {
    model = "embeddeddired challenger stm32f429 board";
    compatible = "embeddeddired,challenger";

	ccm0: memory@10000000 {
		compatible = "zephyr,memory-region", "st,stm32-ccm";
		reg = <0x10000000 DT_SIZE_K(64)>;
		zephyr,memory-region = "CCM";
	};

	sram0: memory@20000000 {
		reg = <0x20000000 DT_SIZE_K(192)>;
	};

	soc {
		flash-controller@40023c00 {
			flash0: flash@8000000 {
				reg = <0x08000000 DT_SIZE_K(2048)>;
			};
		};
	};

    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,ccm = &ccm0;
    };

    leds {
        compatible = "gpio-leds";
        red_led: led_0 {
            gpios = <&gpioh 10 GPIO_ACTIVE_HIGH>;
			label = "red led";
        };
        green_led: led_1 {
            gpios = <&gpioh 11 GPIO_ACTIVE_HIGH>;
			label = "green led";
        };
        blue_led: led_2 {
            gpios = <&gpioh 12 GPIO_ACTIVE_HIGH>;
			label = "blue led";
        };
    };

    aliases {
        led0 = &red_led;
        led1 = &green_led;
        led2 = &blue_led;
    };

};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(25)>;
	status = "okay";
};

&pll {
	div-m = <15>;
	mul-n = <216>;
	div-p = <2>;
	div-q = <4>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(180)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};
